#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.section {
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.button-container {
  justify-content: space-around;
}
.table-container {
  border: 1px solid gray;
}
.fade-in-elem {
  animation: fadeIn 0.5s ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.fixed-div {
  /*   border: 1px solid red; */
  position: fixed;
  right: 0;
  top: 0;
  margin: 0.5rem;
}
.fixed-div button {
  padding: 1rem;
  border-radius: 50%;
}
